<%-include("header") %>


<div>
    <form method="post" action="/create">
        <div><label>文章标题:</label><input name="title" /></div>
        <div><label>文章内容:</label><textarea name="content" ></textarea></div>

        <button type="submit">确认发表</button>
    </form>
</div>



<%-include("footer") %>