<%-include("header")%>
<p>欢迎你，请登录</p>

<form method="post" action="/post">
    <div>
        <label>用户名：</label><input name="signin_name" class="name_inp" />
    </div>
    <div>
        <label>密  码：</label><input name="signin_pass" class="name_pas" />
    </div>

    <input type="submit"  value="提交" class="submit" />

</form>





<script>
    $(".submit").click(function() {
        var name = $(".name_inp").val().trim()
        var pass = $(".name_pas").val().trim()
        if(name=='' || pass=='') {
            alert('不能为空')
        }

    })
     

</script>







<%-include("footer")%>